#geography {
    fill: #EEE;
}

/* #geography:hover {
    fill: #F53;
} */

#circle {
    font-family: system-ui;
    fill: #0582bb;
    opacity: 0.5;
}

#circle:hover {
    fill: #81a0af;
}

#circle:hover + #hidden-text {
    fill: #4a4e58;
    font-weight: bold;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#hidden-text {
    visibility: hidden;
    white-space: pre;
} 
