html {
    font-family: Noto Sans, sans-serif;
}

#first {
    border: 2px solid rgb(231, 231, 232);
    background-color: white;
    border-radius: 8px; 
    margin-left: 5%;
}

#first div {
    padding: 0 4% 3% 4%;
}

#second {
    border: 2px solid rgb(231, 231, 232);
    background-color: white;
    border-radius: 8px; 
    margin-left: 5%;
    margin-top: 5%;
}

#second > div {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 232);
}

#second div:nth-child(2) {
    margin-top: 5%;
}

#table {
    text-align: left;
}

#table tr:nth-child(1) {
    height: 5vh;
}

#table th:nth-child(1) {
    width: 35%;
    padding-bottom: 10px;
}

#table th:nth-child(2) {
    padding-left: 40px;
    padding-bottom: 10px;
}

#table tr:nth-child(2) {
    height: 7vh;
    font-weight: bold;
}

#table td:nth-child(1) {
    border: 1px solid black; 
    border-width: 1px 0 0 0; 
    border-color: rgb(231, 231, 232);
}

#table td:nth-child(2) {
    border: 1px solid black; 
    border-width: 1px 0 0 1px; 
    border-color: rgb(231, 231, 232);
    padding-left: 10%;
}