.nav-links {
    margin: 0;
    padding: 1% 5%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  #dropdown {
    padding-left: 6%;
    width: 10rem;
  }

  .nav-links ul {
    list-style-type: none;
  }

  
  .nav-links li {
    margin: 1.8rem;
    font-size: 1rem;

  }
  
  .nav-links a {
    color: #0582bb;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    background: #EEE;
    border-color: #171a33;
    border-radius: 1rem;
    color: #292929;
  }

  .nav-links a.active {
    border-color: #292929;
    color: #292929;
  }