.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    font-weight: bold;
  }

  .nav-links ul {
    list-style-type: none;
    /* padding-left: 62%; */
  }

  
  .nav-links li {
    margin: 1rem;
    font-size: 1.2rem;

  }
  
  .nav-links a {
    /* border: 1px solid transparent; */
    color: #0582bb;
    text-decoration: none;
    /* padding: 0.9rem; */
  }
  
  .nav-links a:hover {
    background: #EEE;
    border-color: #171a33;
    border-radius: 1rem;
    color: #292929;
  }

  .nav-links a.active {
    /* background: #0582bb; */
    border-color: #292929;
    color: #292929;
  }